/* TODO: 
 - more padding at top of H1 where screen resolution allows */

body, html {
  margin:0;
  padding:0;
  height: 100%;
  font-family: 'Josefin Sans',arial,helvetica;
  background: hsl(50, 82%, 78%);
}

h1 {
  font-size: 3em;
  color: #fff;
  margin: 0;
}

h2 {
	font-size: 2em;	
	color: #000;
  margin: 0;
}

h3 {
	font-size: 1.5em;	
	color: #000;
  font-weight: 400;
/*  margin: 0;*/
}

p {
  font-size: 1.1em;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid;
}

iframe.fillsection {
  width: 100%;
  height: 100%;
  border: 0;
}

iframe.fillsection80 {
  width: 80%;
  height: 60%;
  border: 0;
}

.loosey h1 {
  padding-top: 1em;
  margin-bottom: .2em;
}

.loosey h2 {
  margin-bottom: .1em;
}


.spacey h1 {
  padding-top: 2em;
  margin-bottom: 1em;
}

.spacey h2 {
  margin-top: .2em;
  margin-bottom: .1em;
}

.spacey h3 {
  padding-top: 5px;
}


.spaceout h1 {
  padding-top: 3em;
  margin-bottom: 1em;
}

.spaceout h2 {
}

.spaceout h3 {
}

a.flex-prev,
a.flex-next,
a.flex-prev:hover,
a.flex-next:hover {
  border-bottom: 0;
}

a:hover{
  border-bottom: 3px solid;
}


#superContainer {
  height:100%;
  width:100%;
}

.section {
  -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
         box-sizing: border-box; 

  height: 100%;
  width: 100%;
  position:relative;

  text-align: center;
  overflow: visible; /* needed for date animation*/
}

.vcenter {
  margin: auto;
  position: absolute;
  top: 0; bottom: 0;
  left: 0;  right: 0;
}


/* landing */
#landing {
  height: 100%;
  width: 100%;
  position:relative;

  text-align: center;
}

#landing h2 {
/*  display: none;*/
  color: #2387A0
}

#landing a {
  border: none;
}

#choices {
  height: 500px;
}

.landing-choice {
  opacity: .8;
  text-align: left;
  width: 300px;
  display: inline-block;
  vertical-align: bottom;
  background-color: rgba(255, 255, 255, 1);
  border: 12px solid rgba(255, 255, 255, 1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  
  margin: 10px;
}

.landing-choice:hover {
  opacity: 1;
}

.landing-image {
  width: 300px;
  height: 300px;
  background-size: contain;
}

.sf.landing-image {
  background: url(/images/sf.jpg) top center no-repeat;
  width: 300px;
  height: 300px;
  background-size: contain;
}

.be.landing-image {
  background: url(/images/be.jpg) top center no-repeat;
  width: 300px;
  height: 300px;
  background-size: contain;
}

.landing-choice .caption {
  font-weight: 700;
  font-size: 1.2em;
  text-align: center;
  margin-top: 1em;
  padding-bottom: 0;
}



/* intro */
.dateContainer {
  height: 10em;
}

.dateFrom, .dateMoving, .dateTo {
	font-size: 10em;	
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
	color: #fff;
}

.dateMoving {
  visibility: hidden;
}

/* story */
#us.section {
  background-color: #93B2D1;
/*  position: relative;*/
}

.anniversary {
  background: url(/images/anniversary.jpg) top center no-repeat;
}

.delices {
  background: url(/images/delices.jpg) top center no-repeat;
}

.booth {
  background: url(/images/booth.jpg) top center no-repeat;
}

.yosemite {
  background: url(/images/yosemite.jpg) top center no-repeat;
}

/*#us.section .flexslider {
}
*/

/* family */
#party.section {
/*  background-color: hsl(204, 59%, 41%);*/
}

.moors {
  background: url(/images/moors.jpg) top center no-repeat;
}

.loh {
  background: url(/images/loh.jpg) top center no-repeat;
}

.dillon {
  background: url(/images/dillon.jpg) top center no-repeat;
}


/* schedule */
#schedule.section {
  background-color: #1BBC9B;
}

#schedule h3 {
  margin: 0;
}

/* location */
#where.section {
  background-color: hsl(204, 59%, 41%);
}

#where.section iframe {
  margin-top: .5em;
}

/* hotel */
#hotel.section {
}

/* RSVP */
#rsvp.section {
  background-color: hsl(204, 59%, 41%);
  min-height: 1140px;
}

#rsvp.section h1 {
  padding-top: 5em;
  font-family: 'Merriweather', serif;  
}

/* share */
#share.section {
  background-color: #4c66a4;
}

/* gifts */
#gifts.section {
  background-color: rgb(221, 84, 20);
}

#gifts.section h1 {
}

/* stay */
#stay.section {
}

/* flexslider */
.section .slide-wrapper {
  margin: 0 auto;
  text-align: left;
  display: inline-flex;
}

.section .flexslider { 
  background-color: inherit;

  height: 540px;
  border: none;
  box-shadow: none;
  zoom: 1;
/*  overflow: hidden;*/
}

.section .left-image {
  text-align: left;
  width: 500px;
  display: inline-block;
/*  vertical-align: bottom;*/
  background-color: rgba(255, 255, 255, 1);
  border: 12px solid white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
}

.slide-image {
  width: 500px;
  height: 500px;
  background-size: contain;
}

.caption {
  font-weight: 400;
  font-size: 1.1em;
  text-align: center;
  margin-top: 3px;
  padding-bottom: 0;
  margin-bottom: 0;
}

h3.slide-title {
/*  border: 1px solid rgba(255, 255, 255, .1);*/
  padding-top: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
/*  background-color: rgba(255, 255, 255, .05);*/
  text-align: center;
}

.section .right-text {
  vertical-align: top;
  text-align: left;
  width: 350px;
  display: inline-block;
  padding-left: 40px;
}

.right-text p {
  vertical-align: top;
  text-align: left;
}

.flex-control-nav {
  display: none;
}


/* menu */
.menu {
  font-family: 'Merriweather', serif;

	position:fixed;
	right: 20px;
  bottom: 20px;
	z-index: 70;
  visibility: hidden;
	margin:  0px;
  padding: 0px;
}

.menu a{
	display: inline-block;
  padding: 4px 4px;
  margin: 0;
	-webkit-border-radius: 12px; 
          border-radius: 12px; 

  text-decoration: none;
  color: black;
  opacity: .5;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;

  background: white;
  border-bottom: 0;
}

.menu a.active{
  opacity: 1;
}

.menu a:hover{
	text-decoration: none;
  opacity: .8;
  border-bottom: none;

  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}


.tooltip{
		display: inline;
		position: relative;
}

.tooltip:hover:after{
		background: #333;
		background: rgba(0,0,0,.8);
		border-radius: 5px;
		bottom: 26px;
		color: #fff;
                content: attr(tooltip);
		left: 20%;
		padding: 5px 15px;
		position: absolute;
		z-index: 98;
		width: 220px;
}

.tooltip:hover:before{
		border: solid;
		border-color: #333 transparent;
		border-width: 6px 6px 0 6px;
		bottom: 20px;
		content: "";
		left: 50%;
		position: absolute;
		z-index: 99;
}


#map{width:100%;height:100%}
#locations{position:absolute;left:80px;top:80px;}
#locations .address{width:300px;background:hsl(204, 59%, 41%);position:relative;padding:10px;color:#fff;z-index:900;margin-bottom:20px;}
#locations a {color:#fff;}
#locations .address p{margin:5px 0 10px 0}
/*#locations .address:before{display:block;color:#103a51;font-weight:700;text-transform:uppercase;font-size:14px}*/
/*#locations #klooster:before{content:"Venue"}*/

@media screen and (min-height: 700px) {
  h1 {
    padding-top: 10px;
  }

  .flex-control-nav {
    display: block;
  }

  .section .flexslider {
    padding-top: 10px;
  }

  .caption {
    margin-top: 10px;
  }

  #where.section iframe {
    margin-top: 1em;
  }
}
