
/* Style for our header texts 
* --------------------------------------- */
h1 {
	font-size: 5em;	
	font-family: 'Josefin Sans',arial,helvetica;
	color: #fff;
	margin:0;
        padding-top: .3em;
}

h2 {
	font-size: 3em;	
	font-family: 'Josefin Sans',arial,helvetica;
	color: #000;
	margin: .5em;
}

h3 {
	font-size: 1.5em;	
	font-family: 'Josefin Sans',arial,helvetica;
	color: #000;
	margin: .5em;
}

a {
  color: #eee;
  text-decoration: none;
}

a:hover{
  border-bottom: 1px solid;
}

#schedule.section {
  background-color: #1BBC9B;
}

#schedule.section h1,
#schedule.section h2,
#schedule.section h3, {
  margin: 1em;
}

#us.section {
  background-color: #1BBC9B;
}

#party.section {
/*  background-color: hsl(204, 59%, 41%);*/
}

#where.section {
  background-color: hsl(204, 59%, 41%);
}

#rsvp.section {
}

#share.section {
  background-color: #4c66a4;
}

#gifts.section {
  background-color: rgb(221, 84, 20);
}

#stay.section {
}

.intro p {
	color: #fff;
}

/* Centered texts in each section 
* --------------------------------------- */
.section {
        text-align: center;
  background-color: hsl(50, 82%, 78%);
}


.dateFrom, .dateMoving, .dateTo {
	font-size: 10em;	
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
	color: #fff;
}

.dateMoving {
  /* cheat to make it not take up any space (and keep .dateFrom v-centered),
     without playing around with display: none/block, which causes jumps
  */
  margin-top: -1em;
  display: block;
  visibility: hidden;
}

#menu {
  font-family: 'Merriweather', serif;

  // TODO: fix spacing bug -- slides are off by menu height;
	position:fixed;
	right: 20px;
  bottom: 20px;
	z-index: 70;
  visibility: hidden;
	margin:  0px;
  padding: 0px;
}

#menu li {
	display: inline-block;
  padding: 5px 8px;

  background: white;
  opacity: .5;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;

	-webkit-border-radius: 12px; 
            border-radius: 12px; 
}
#menu li:hover {
  opacity: .8;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}
#menu .active {
  opacity: 1;
}

#menu li a{
	text-decoration: none;
  color: black;
  opacity: .5;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

#menu li a:hover{
	text-decoration: none;
  opacity: 1;
}




#fullPage-nav{
	position: absolute;
	z-index: 100;
	margin-top: -32px;
	top: 50%;
	opacity: 1;
}
#fullPage-nav li{
	display: block;
	width: 14px;
	height: 13px;
	margin: 7px;
}
#fullPage-nav li a{
	display: block;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
}
#fullPage-nav li .active span{
	background: #333;
}
#fullPage-nav span{
	top: 2px;
	left: 2px;
	width: 8px;
	height: 8px;
	border: 1px solid #000;
	background: rgba(0, 0, 0, 0);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
}

