body, html {
  margin:0;
  padding:0;
  height: 100%;
}

h1 {
  font-size: 5em;	
  font-family: 'Josefin Sans',arial,helvetica;
  color: #fff;
  margin:0;
  padding-top: .3em;
}

h2 {
	font-size: 3em;	
	font-family: 'Josefin Sans',arial,helvetica;
	color: #000;
	margin: .5em;
}

h3 {
	font-size: 1.5em;	
	font-family: 'Josefin Sans',arial,helvetica;
	color: #000;
	margin: .5em;
}

a {
  color: #eee;
  text-decoration: none;
}

a:hover{
  border-bottom: 1px solid;
}


#superContainer {
  height:100%;
  width:100%;
}

.section {
  -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
         box-sizing: border-box; 

  height: 100%;
  width: 100%;
  position:relative;

  text-align: center;
  background-color: hsl(50, 82%, 78%);
}

#schedule.section {
  background-color: #1BBC9B;
}

#schedule.section h1,
#schedule.section h2,
#schedule.section h3, {
  margin: 1em;
}

#us.section {
  background-color: #1BBC9B;
}

#anniversary.slide div,
#delices.slide     div,
#booth.slide       div,
#yosemite.slide    div {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#anniversary.slide div {
  background-image: url(/images/anniversary.jpg);
}

#delices.slide     div {
  background-image: url(/images/delices.jpg);
}

#booth.slide       div {
 background-image: url(/images/booth.jpg);
}

#yosemite.slide    div {
  background-image: url(/images/yosemite.jpg);
}

#party.section {
/*  background-color: hsl(204, 59%, 41%);*/
}

#where.section {
  background-color: hsl(204, 59%, 41%);
}

#rsvp.section {
  min-height: 1140px;
}

#share.section {
  background-color: #4c66a4;
}

#gifts.section {
  background-color: rgb(221, 84, 20);
}

#stay.section {
}

.intro p {
	color: #fff;
}

.dateContainer {
  height: 10em;
  margin: auto;
  position: absolute;
  top: 0; bottom: 0;
  left: 0;  right: 0;
}

.dateFrom, .dateMoving, .dateTo {
	font-size: 10em;	
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
	color: #fff;
}

.dateMoving {
  visibility: hidden;
}

.menu {
  font-family: 'Merriweather', serif;

	position:fixed;
	right: 20px;
  bottom: 20px;
	z-index: 70;
/*  visibility: hidden;*/
	margin:  0px;
  padding: 0px;
}

.menu a{
	display: inline-block;
  padding: 5px 8px;

	-webkit-border-radius: 12px; 
            border-radius: 12px; 

        text-decoration: none;
  color: black;
  opacity: .5;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;

  background: white;
}

.menu a.active{
  opacity: 1;
}

.menu a:hover{
	text-decoration: none;
  opacity: .8;
  border-bottom: none;

  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;

}
